@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=k3kCo84MPvpLmixcA63oeAL7Iqp5IZJF9bmaG9_FnYxVpfWStRUunkQYy_JqsHzfxNevXuSLM9ab6x4CvSHgP87rZqmRPxiFUtlvC6M1zKmEAn75eH4pOzybul72gY93WRPl3q4DAHT83_Jr4aRoKOi7_ULVwRQK0KcfBu1tGQ7BKkOFhikjQZ6c5z9a3DqAXAMh3DCpOFe6afm3jBnFYALG2cQXlat_1Y1un2TtzeCT9JFHbn_VPhIcpoFxxOTxLqSpyF0MC7_OA_PqigaspHKC4BTm-LyQnpFXTPrshRss9L_Qe4-C_GhPeDedGTYl&skey=cf0bb10b5602fdc3&v=v40) format('truetype');
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/l/font?kit=k3kCo84MPvpLmixcA63oeAL7Iqp5IZJF9bmaGzjCnYxVpfWStRUunkQYy_JqsHzfxNevXuSLM9ab6x4CvSHgP87rZqmRPxiFUtlvC6M1zKmEAn75eH4pOzybul72gY93WRPl3q4DAHT83_Jr4aRoKOi7_ULVwRQK0KcfBu1tGQ7BKkOFhikjQZ6c5z9a3DqAXAMh3DCpOFe6afm3jBnFYALG2cQXlat_1Y1un2TtzeCT9JFHbn_VPhIcpoFxxOTxLqSpyF0MC7_OA_PqigaspHKC4BTm-LyQnpFXTPrshRss9L_Qe4-C_GhPeDedGTYl&skey=cf0bb10b5602fdc3&v=v40) format('truetype');
}
@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/l/font?kit=k3kCo84MPvpLmixcA63oeAL7Iqp5IZJF9bmaG3bCnYxVpfWStRUunkQYy_JqsHzfxNevXuSLM9ab6x4CvSHgP87rZqmRPxiFUtlvC6M1zKmEAn75eH4pOzybul72gY93WRPl3q4DAHT83_Jr4aRoKOi7_ULVwRQK0KcfBu1tGQ7BKkOFhikjQZ6c5z9a3DqAXAMh3DCpOFe6afm3jBnFYALG2cQXlat_1Y1un2TtzeCT9JFHbn_VPhIcpoFxxOTxLqSpyF0MC7_OA_PqigaspHKC4BTm-LyQnpFXTPrshRss9L_Qe4-C_GhPeDedGTYl&skey=cf0bb10b5602fdc3&v=v40) format('truetype');
}
